h1
{
    font-family: Impact, fantasy;
}
.Subtitulos
{
    font-family: OCR A Std, monospace;
}
body
{
    background-color: rgb(237, 224, 212);
}
strong
{
    color: rgb(88, 47, 14);
    font-family: monospace;
    font-size: 1.1em;
}
.list
{
    font-size: 18px;
}
img
